form#auto-search {
	padding: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.input-group {
	position: relative;
	background: #fff;
	/* overflow: hidden;	 */
	border: 1px solid #ffbe00;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}
input[type="text"] {
	background: #fff;
	color: #666;
	width: 300px;
	border-radius: 50px 0 0 50px;
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	-ms-border-radius: 50px 0 0 50px;
	-o-border-radius: 50px 0 0 50px;
}

input[type="text"]:hover,
input[type="text"]:focus {
	box-shadow: inset 0px 0px 20px 0 #FEC;
}

button.search-button {
	background: #ffbe00;
	color: #aa6a00;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 0 50px 50px 0;
	-webkit-border-radius: 0 50px 50px 0;
	-moz-border-radius: 0 50px 50px 0;
	-ms-border-radius: 0 50px 50px 0;
	-o-border-radius: 0 50px 50px 0;
}
button.search-button:hover,
button.search-button:focus {
	/* background: #ffcf11; */
	color: #1D1D1B;
}

input[type="text"],
button.search-button {
	margin: 0 auto;
	padding: 20px 30px;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
}

/* lista de produtos */
ul.product-list {
	position: absolute;
	background: #fff;
	top: 100%;
	left: 5%;
	width: 90%;
	height: auto;
	margin-top: 2px;
	margin-bottom: 30px;
	list-style: none;
	text-align: left;
}
ul.product-list li {
	color: #666;
	font-weight: normal;
	font-size: 1.4rem;
	transition: all .6s;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
}
ul.product-list li a {
	padding: 10px;
	border-bottom: 1px solid #fed;
	display: flex;
	flex-direction: row;
	align-items: top;
	text-decoration: none;
}
ul.product-list li a:hover {
	background: #fff6f0;
}
ul.product-list li .product-image img {
	width: 50px;
	height: 50px;
}
ul.product-list li .product-info {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
ul.product-list li .product-info .product-name {
	color: #888;
	font-weight: bold;
	margin-top: 5px;
}
ul.product-list li .product-info .product-price {
	color: #eead00;
	font-weight: bold;
	font-size: 1.6rem;
	margin-top: 2px;
}